[Notification]
; 可选平台：feishu, serverchan, mqtt, webhook, bark。多个平台启用时用逗号隔开
platform =
hours = 14
mins = 00

[ServerChan]
; Server酱发送密钥
send_key =

[Feishu]
; 飞书机器人token
robot_token =

[Webhook]
; Webhook URL
webhook_url =

[MQTT]
; Mqtt的地址
mqtt_host = your_mqtt_host(example: 127.0.0.1 or mqtt.com)
mqtt_port = your_mqtt_port(example: 1883)
mqtt_topic = your_mqtt_topic(example: /me/electricity)

[Bark]
url =
token =

[WeChatBot]
url =
token =
to =
isRoom =